<div class="row">
  <div class="col-md-6 offset-3">
    <div *ngIf="message" class="alert alert-danger" role="alert">
      {{message}}
    </div>
    <form [formGroup]="loginForm" (submit)="login()">
      <div class="form-group">
        <label >Email address</label>
        <input type="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label >Password</label>
        <input type="password" class="form-control" formControlName="password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>