<div class="row">
  <div class="col-md-12">
    <mat-horizontal-stepper linear #stepper >
      <mat-step [stepControl]="firstFormGroup">
        <form  [formGroup]="firstFormGroup" class="carsome-form">
          <ng-template matStepLabel>Fill out your information</ng-template>
          <mat-form-field class="carsome-full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email"  [errorStateMatcher]="matcher">
            <mat-error *ngIf="email.hasError('email') || !email.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="email.hasError('required')">
              Email address is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="carsome-full-width">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" >
            <mat-error *ngIf="mobile.hasError('required') && !mobile.hasError('pattern')">
              Mobile is required
            </mat-error>
            <mat-error *ngIf="mobile.hasError('pattern')">
              Mobile is only numbers
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out date</ng-template>
          <mat-form-field class="example-full-width">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="appointmentDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="appointmentDate.hasError('required')">
              Date is invalid
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="getFreeTimes(stepper)">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Choose any appointment</ng-template>
        <ng-template #elseBlock>{{message}}</ng-template>
        <mat-chip-list *ngIf="appointments.length>0 else elseBlock" aria-label="Fish selection">
          <mat-chip *ngFor="let appointment of appointments" (click)="select(appointment)" [selected]="appointment===appointmentSelected">
            {{appointment}}
          </mat-chip>
        </mat-chip-list>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="addAppointment(stepper)">Submit</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>