<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Mobile</th>
          <th scope="col">Appointment</th>
          <th scope="col">Created at</th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let inspection of inspections">
          <td>{{inspection.email}}</td>
          <td>{{inspection.mobile}}</td>
          <td>{{inspection.appointment}}</td>
          <td>{{inspection.created_at}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>