<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="'/'">Carsome</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
     
        <li class="nav-item" *ngIf="!http.isLoging()">
          <a class="nav-link" [routerLink]="'/booking'"  routerLinkActive="active" >Booking</a>
        </li>
        <li class="nav-item" *ngIf="!http.isLoging(); else admin ">
          <a class="nav-link" [routerLink]="'/login'"  routerLinkActive="active">Login</a>
        </li>
        <ng-template #admin>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/inspection-slots'"  routerLinkActive="active">Inspection Slots</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" href="#">logout</a>
          </li>
        </ng-template>
    
      </ul>
    </div>
  </nav>
  <router-outlet #outlet="outlet"></router-outlet>
</div>